.clear {
    clear: both;
}
.dash-box {
    background: gray;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px 30px;
    min-height: 50ch;
    width: 80%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.dash-box img {
    border: black 3px solid;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.news-letter {
    padding: 10px;
}
.news-letter p, .news-letter ul {
    padding: 0 15px;
    font-size: 20px;
}
.news-letter li {
    font-size: 20px;
    list-style: square;
}
.person-bio {
    width: 63%;
    float: left;
}
.list-of-records {
    width: 35%;
    float: right;
}

@media (max-width: 768px) {
    .person-bio, .list-of-records {
        float: none;
        display: block;
        width: 80%;
        text-align: center;
    }
    .news-letter p, .news-letter ul {
        padding: 3px 15px;
    }

}