body{
    background-color: transparent;    
}
.topic {
    background: linear-gradient(to right, #fff, #0f0);
    padding: 1px;
}
h3{
    font-family: cursive,fantasy,sans-serif;
    color: #000;
}
.knust-logo{
    margin: 30px auto;
    text-align: center;
}
.knust-logo img{
    width: 60px;
    margin: 0 12px;
    border-radius: 30px;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: minmax(100px, auto);

}
.gallery{
    margin: 40px;
    box-shadow: 0 2px 20px rgb(63, 62, 62);
    padding: 15px;
    color: #fff;
    background: rgb(0, 100, 0);
    border-radius: 15px;
}
.gallery img{
    widows: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin: 40px 20px 30px 0;
    border: 5px solid #fff;
    shape-outside: circle();
}
h4{
    font-family: cursive,sans-serif;
}
p{
    text-align: center;
    line-height: 15px;
}
.content {
    
}